.pokemon-card {
    box-shadow: 0 0px 6px 3px white;
    border-radius: 25px;
    padding: 10px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemon-card__text {
    text-align: left;
}

.pokemon-card__image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.pokemon {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pokemon-pagination {
    margin: 0 auto;
}

.pokemon-cards {
    display: flex;
    gap: 30px;
}
