.pokemon-card {
    box-shadow: 0 0px 6px 3px var(--text-color);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-width: 150px;
    transition: all 0.1s ease;
    gap: 5px;
    &:hover {
        background-color: var(--text-color);
        color: var(--bg-color);
    }
    &:has(.pokemon-input:checked) {
        box-shadow: 0 0px 6px 3px var(--bg-btn--active);
    }
}

.pokemon-card__wrapper {
    display: flex;
    align-self: center;
    gap: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.pokemon {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pokemon-cards {
    display: grid;
    gap: 30px;
}

.pokemon-cards.grid {
    grid-template-columns: repeat(4, 1fr);
}
