.input-search {
    height: 40px;
    width: 300px;
    background-color: var(--bg-input);
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.form-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
